<div class="container page-container secondary-page contact-page">
  <h1>I am always up for a cup of Tea ~0)</h1>
  <div class="row">
    <div class="col-sm-6 contact-item">
      <%= image_tag "mail.svg"%>
      <span>surajpoddar16@gmail.com</span>
    </div>

    <div class="col-sm-6 contact-item">
      <%= image_tag "phone.svg"%>
      <span>+918051212333</span>
    </div>

    <div class="col-sm-6 contact-item">
      <%= image_tag "skype.svg"%>
      <span>surajpoddar16</span>
    </div>

    <div class="col-sm-6 contact-item">
      <%= image_tag "facetime.svg", style: "height:40px" %>
      <span>suraj@taskbob.com</span>
    </div>
  </div>
</div>
