<div class="container page-container">
  <div class="intro">
    <%= image_tag "my_photo.png", class: "my-photo" %>
    <div class="intro-detail">
      <h1>
        Hello, I’m Suraj.
        <br>I design and build apps
      </h1>

      <a href="/skills"><button class="btn btn-outline">My Skills</button></a>

      <a href="/resume.pdf" target="_blank"><button class="btn btn-primary">Download CV</button></a>

      <p>
        I am a multi-disciplinary web/mobile designer and developer from Ranchi. I have worked with startups and consultancies over the years.<br><br>
        I specialize in designing and developing responsive websites, native and hybrid mobile apps with focus on appearance, accessibility and performance.
      </p>
    </div>
  </div>
</div>
