<div class="container page-container secondary-page">
  <h1>I love to capture special moments :D</h1>
  <div class="row">
      <% @photos.each do |photo| %>
        <div class="col-md-3 col-sm-6 photos-item">
          <%= image_tag photo['img'] %>
        </div>
      <% end %>
    </div>
</div>
