<div class="container page-container secondary-page skills-page">
  <h1>I like to do whatever good can be done with a computer B-)</h1>
  <div class="row skills-page">
      <% @skills.each do |skill| %>
        <div class="col-md-3 col-sm-6 skill-item">
          <%= image_tag skill['img'] %>
          <br>
          <span><%= skill['name'] %></span>
        </div>
      <% end %>
    </div>
</div>
