$footer-height: 80px;

footer {
  width: 100%;
  background: #eee;
  min-height: $footer-height;

  padding: 0px $horizontal-padding;

  ul {
    list-style: none;
    padding: 0px;
    font-weight: $font_weight_light;
    li {
      display: inline-block;
      line-height: $footer-height;
      margin-right: 30px;
    }
  }
}
